body {
    font-family: 'Open Sans', sans-serif;
}
.carousel-control.left, .carousel-control.right {
  background-image:
  none; outline: none;
}

.sky-background {
    background-image: url('../images/sky-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 800px;
    width: 100%;
}

.masthead {
    position: relative;
    top: 150px;
}

.masthead-logo {
    max-width: 90%;
    width: 500px;
    margin: 0 auto;
}

.masthead-logo h1 {
    margin-top: 0;
}

.masthead-text {
    max-width: 90%;
    width: 700px;
    text-align: center;
    margin: 40px auto 0 auto;
    color: #fff;
}

.masthead-text h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.masthead-text p {
    font-size: 2.5rem;
    margin-top: 20px;
}

header nav ul li {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    text-align: center;
}

header nav ul li.nav-logo { /* nav logo list item */
    width: 20%
}

header nav ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: -230px;
}

header nav {
    background-image: url('../images/mountain-white-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height:  300px;
    position: relative;
    top: -200px;
}

header nav ul li a {
    disply: inline-block;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

header nav ul li a:hover {
    border-bottom: 3px solid #000;
    text-decoration: none;
    color: #000;
}

header nav ul li:first-child a:hover { /* nav logo */
    border: none;
}


header nav ul li a img { /* nav logo */
    width: 110%;
}

